DJANGO_SECRET_KEY=change-this-to-a-random-secret-key
DJANGO_DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,acortador.moisesvalero.es
CSRF_TRUSTED_ORIGINS=http://localhost:8000,https://acortador.moisesvalero.es
IP_HASH_SALT=change-this-to-a-random-salt-value
BASE_URL=http://localhost:8000
DATABASE_URL=
